@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:300&display=swap');

/* Smooth Scroll */
/* html {
  scroll-behavior: smooth;
}
@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
} */

/* Styles de base */
body {
  background: url('assets/img/fond.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  font-family: 'Lato', sans-serif !important;
}

/* carousel */
.carousel-caption>h5{
  font-weight: bolder;
  text-shadow: 2px 2px 2px black;
}
.carousel-item>img{
  height: 92vh;
  width: 100%;
  object-fit: cover;
}

/* le corps de page */
.jumbotron{
  background-color: rgba(255, 255, 255, 0.5);
}

h1, .nav-link{
  font-family: 'Anton', sans-serif !important;
}

h5{
    font-family: 'Lato', sans-serif !important;
}
